label {
    font-size: 1.6em;
    font-weight: bold;
}

.bannière2 {
    text-shadow: #bbe5ff 0 -1px 0, #0098f8 1px 1px 0, #018de6 2px 2px 0,
        #006fb5 3px 3px 0, #005386 4px 4px 0, #004874 5px 5px 0,
        #333 5px 5px 10px;
    color: #26abff;
}

form {
    text-align: center;
}

.message {
    width: 300px;
    height: 150px;
}
input[type="submit"] {
    width: 10em;
    height: 2em;
}
