.portraits {
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

figcaption {
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.8em;
}

* {
    font-family: "Roboto" "Courier New", Courier, monospace;
}
