.portraits {
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
}

figcaption {
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.8em;
}

* {
    font-family: "Apple, Chancery, cursive";
}

footer {
    font-size: 1.7em;
    margin: 50px;
    text-shadow: #023656 0 -1px 0;
}
