@media screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    .container {
        display: none;
    }
    .navmobile {
        position: relative;
        background: #4747;
    }
    .menumobile {
        position: relative;
    }
    .titremobile {
        font-family: "Roboto", Apple, Chancery, cursive;
        text-align: center;
    }
    .banniere {
        display: flex;
    }
    .titrebanniere {
        display: flex;
    }

    .navfooter {
        display: inline;
        margin: 7%;
    }
    table {
        width: 100%;
        font-size: 1rem;
    }
}
