* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
h1,
h2 {
    font-family: Apple, Chancery, cursive;
    text-align: center;
    padding: 40px;
}
p {
    font-size: 1.5em;
}
body {
    background-image: url("images/sable.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.bannière {
    background-image: url("images/palace.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
}

.container {
    background-color: #5cc2e0;
    display: flex;
    flex-basis: auto;
    border-collapse: collapse;
    margin: auto;
    border: 1.5px solid black;
}

.nav ul {
    margin: auto;
    background: white;
    list-style: none;
}

.nav a {
    background-color: #5cc2e0;
    margin-top: 0px;
    padding: 50px;
    display: block;

    text-decoration: none;
    font-weight: bold;
    color: #444d56;
    font-size: 1.8em;
}

.nav .menu {
    background-color: #5cc2e0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: Apple, Chancery, cursive;
}

.palais {
    width: auto;
}
.welcome {
    font-family: Apple, Chancery, cursive;
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    padding: 16px;
}
