* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1,
h2 {
    font-family: "Roboto", Apple, Chancery, cursive;
    text-align: center;
    padding: 40px;
}
.titrepave {
    margin-top: 25%;
    text-shadow: #ffc642 0 -1px 0, #dea623 1px 1px 0, #002d91 2px 2px 0,
        #005386 4px 4px 0, #046eaf 5px 5px 0, #023656 5px 5px 10px;
    color: #ba860e;
}
.pave {
    font-size: 1.6em;
    text-shadow: #023656 0 -1px 0;
}
body {
    background-image: url("images/sable.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.banniere {
    background-image: url("images/palace.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
}
.titrebanniere {
    margin-top: -450px;
    text-shadow: #bbe5ff 0 -1px 0, #0098f8 1px 1px 0, #018de6 2px 2px 0,
        #006fb5 3px 3px 0, #005386 4px 4px 0, #004874 5px 5px 0,
        #333 5px 5px 10px;
    color: #26abff;
}

.container {
    background-color: #5cc2e0;
    display: flex;
    flex-basis: auto;
    border-collapse: collapse;
    margin: auto;
    border: 1.5px solid black;
}

.nav ul {
    margin: auto;
    background: white;
    list-style: none;
}

.nav a {
    background-color: #5cc2e0;
    margin-top: 0px;
    padding: 50px;
    display: block;

    text-decoration: none;
    font-weight: bold;
    color: #444d56;
    font-size: 1.8em;
}

.nav .menu {
    background-color: #5cc2e0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: "Apple, Chancery, cursive";
}

a:hover {
    text-decoration: none;
    color: Dodgerblue;
}

a:active {
    color: crimson;
    text-decoration: none;
}

.palais {
    width: auto;
}
.welcome {
    font-family: Apple, Chancery, cursive;
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    padding: 16px;
}

.navfooter {
    margin-top: 40px;
    margin-right: 20px;
    text-align: right;
    font-size: 1.4em;
}
